{% extends "layout.html" %}

{% block title %}All Chai Page{% endblock %}

{% block content %}
    <h1 class=" bg-orange-500 text-3xl">All Types of Chai | Home Page</h1>
    <div class="flex">
        {% for chai in chais %}
            <div class=" bg-gray-500 m-5">
                <img class="rounded max-h-2.5" src="{{chai.image.url}}" alt="" >
                <h3 class="font-bold ">{{chai.name}}</h3>
                {% comment %} here i passed name so that i can get which link we have to transfer see urls.py for seq undersand  {% endcomment %}
                <a href="{% url 'chai_detail' chai.id %}">
                    <button class="bg-orange-500 w-[100%]">
                        {{chai.type}} - {{chai.id}}
                    </button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL_CHAI</title>
</head>
<body>
    <h1>All Types of Chai</h1>
</body>
</html> {% endcomment %}